



<!-- String Interpolation -->
 <div class='container'>

  <div class="col-md-12">
    <h3>Sales Event</h3>
    <h4>Selling Price: {{selling_price}}</h4>
    <table>
      <tr>
        <th>Discount Type</th>
        <th>Discount Amount</th>
        <th>Selling Price</th>
        <th>Event Price</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
      <tr>
        <td>
         Dollars <input type="radio" name="discount_type" [(ngModel)]="discount_type" value="dollar"(change)="onItemChange($event.target.value)"> <br>
         Percentage <input type="radio" name="discount_type" id="" [(ngModel)]="discount_type"  value="percentage"  (change)="onItemChange($event.target.value)">
        </td>
        <td>
          <input type="text" name="discount_amount" id="" [(ngModel)]='discount_amount'>
          <span *ngIf='discount_amount_error'>Enter Discount AMount</span>
        </td>
        <td>
          <input type="text" name="selling_price" [(ngModel)]="selling_price">
          <span *ngIf='discount_amount_error'>Enter Discount Selling Price</span>
        </td>
          <td>  <input type="text" name="event_price" [(ngModel)]="final_event_price" readonly></td>
        <td>  <input type="text" name="start_date" [(ngModel)]="start_date">
              <span *ngIf='start_date_error'>Enter Start Date</span>
        </td>
        <td>  <input type="text" name="end_date" [(ngModel)]="end_date">
          <span *ngIf='end_date_error'>Enter End Date</span>
        </td>
      </tr>
    </table>
    <button (click)="clearValues()">Clear</button>
    <button (click)="calculateDiscount()">Save</button>
  </div>

 </div>




